<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="nav-color">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<!-- -->
<ion-content class="no-scroll" padding>

    <button [ngStyle]="{'margin-top': 70 + 'px'}" color="primary" ion-button block (click)="gotoSite()">
        {{settings.appName}} {{lp.translate()[0].a1}}.
      </button>
      <button  [ngStyle]="{'margin-top': 20 + 'px'}"color="primary" ion-button block (click)="gotoSite2()">
          {{settings.appName}} {{lp.translate()[0].a2}}.
        </button>
        <button  [ngStyle]="{'margin-top': 20 + 'px'}" color="primary" ion-button block (click)="gotoSite()">
          {{lp.translate()[0].a3}}
      </button>
<!-- 
      <button  class='button' [ngStyle]="{'margin-top': 60 + '%'}" color="gery" ion-button block (click)="gotoSite2()">
          Developed By Play sTUDIO.
    </button> -->

</ion-content>
