page-login {
  ion-content{
  background: url($myUrl) no-repeat;
  overflow: overflow-y auto;
  background-size: contain;
  margin-top: 0% !important;
  @keyframes wiki {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
}
  
  form {
    margin-bottom: 26px;
    height: 200px auto;
    background: white;
    padding: 5px;
    border-radius: $border;
    margin-top: 20px;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    button {
      margin-top: 20px !important;
      border-radius: $border;
    }
    .button{
      border: 1px solid color($colors, primary, base);
      padding: 10px;
      background: color($colors, primary, base);
      color: color($colors, light, base);
      border-radius: $border;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  .invalid {
    border: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  ion-item{
    border-radius: $border;
  }

  .button{
    // border: 1px solid color($colors, primary, base);
    background: color($colors, primary, base);;
    height: 50px ;
    color: color($colors, nav-color, base);
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    border-radius: $border;
  }

  .terms{
    margin-top: 40px;
    color: color($colors, primary, base);
    text-align: center;
  }

  .logo-text{
    color: color($colors, primary, base);
    text-align: center;
    font-size: 1.2em;
    font-style: to-upper-case($string: "t")
  }

  .logo-text1{
    color: color($colors, primary, base);
    text-align: center;
    font-size: 1.4em;
    font-weight: 200;
    text-transform: uppercase;
  }

  .o_section{
    margin-top: 100%;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }

}

}