page-home {



  ion-content {
    //overflow: visible !important;
   // margin-top: 0% !important;

   
    // [noScroll] {
    //   overflow: hidden;
    // }

    #map {
      width: 100%;
      height: 100%; 
      position: fixed;
      z-index: 0;
  
  
    }
  }

  ion-footer{

    @keyframes wiki {
      from {
        opacity: 0;
      }
      
      to {
        opacity: 1;
        
      }
  }

     
    .bars{
      width: 100%;
      position: absolute;
      background: color($colors, light, base);
      height: auto;
      z-index: 4;
      line-height:50px;
      text-align: center;

    
      

      .name_text{
        z-index: 3;
        font-size: 1.2em;
        text-align: center;
        margin-top: 0%;
      }
    
      
    .profile_bar {
      margin-top: 5%;
  }


  
   button{
    margin-top: 16%;
    height: auto;
   // margin-left: 2.5%;
  // padding: 0px;
    width: 95%;
    border-radius: $border;
    text-align: center;
   }

  
    }

#myButtin{
  border-radius: $border;
  margin-top: 3%;
  padding: 5px;
  font-size: 1.2em;
  //background: color($colors, nav-color, base);
 // box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  color: color($colors, nav-color, base);
}




  p{
    padding: 0px;
    margin: 0px;
  }
 

  #aButton{
    background: color($colors, gery, base);
    color: color($colors, light, base);
    border-radius: $border;
    padding: 10px;
    width: 90%;
//margin-left: 7px;

  }

  ion-title{
    color: color($colors, light, base) !important;
  
  }




}

.rate{
  position: absolute;
  margin-left: 80%;
  margin-top: -10%;
  color: color($colors, green, base);
  top: 14%;
  border: 1px solid color($colors, nav-border-bottom, base);
  z-index: 4;
  width: 50px;
  border-radius: $border;
  ion-icon{
    font-size: 1.8em;
    color: color($colors, secondary, base);
    z-index: 4;
  }
}



#title{
 height: 2% !important;
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
}




#mytite{
  padding: 2px !important;
  background: color($colors, light, base);
  border-radius: 30px;
  margin-left: 19%;
  margin-top: 2%;
  width: 45%;
  height:14%;
  ion-icon{
    width: 10%;
    margin: 2px;
  }
  // height:14% ;
//  border: 1px solid color($colors, primary, base);

 
}

#leftshit{
  margin: 2%;
  border: 2px solid color($colors, primary, base);
  border-radius: $border+5;
  padding: 5px;
  color: white;
  background: color($colors, primary, base);
  left: 35% !important;
  position: relative;
}

#star{
  // color: color($colors, dark, base);
  border: 1px solid color($colors, nav-border-bottom, base);
  margin-top: 1%;
 // box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
}

#rides{
  border-radius: $border;
  border: 1px solid color($colors, nav-border-bottom, base);
}

#unstar_1{
  margin-top: 3%;
  background:  url($myUrl3) no-repeat;
  //background-position: left;
  background-size: contain;
  border: 1px solid color($colors, primary, base);
//  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  h2{
    padding: 4px !important;
    background: color($colors, primary, base);
    border-radius: 30px;
  }
}

#unstar{
  margin-top: 3%;
  margin-left: 2.5% !important;
 // box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
 //   background: linear-gradient(rgba(39, 18, 37, 0.541), rgba(69, 23, 73, 0.623) rgba(90, 18, 90, 0.336)) , url($myUrl) no-repeat;
}

#unstar_2{
  margin-top: 3%;
  margin-left: 2.5% !important;
  background: url($myUrl2) no-repeat;
 // background-position: left;
  background-size: cover;
  border: 1px solid color($colors, primary, base);
//  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  h2{
    padding: 4px !important;
    background: color($colors, primary, base);
    border-radius: 30px;
  }
}


#top_container{
  background: url($myUrl4) no-repeat;
  height:30%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  //box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  .stuff{
    margin-top: 10%;
  }
//background: color($colors, light, base);
}

#buttonContainer{
 // margin-top: 0%;
  float: right;
  button{
  //height: 80% !important;
  background: color($colors, primary, base); 
  border-radius: $border;
  color: color($colors, nav-color, base); 
  margin: 6px;
 // border: 6px solid color($colors, nav-color, base);
  padding: 15px;
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  }
  

} 



#buttonContainer2{
 float: left;
   button{
   //height: 80% !important;
   background: color($colors, primary, base); 
   border-radius: $border;
   color: color($colors, nav-color, base); 
   margin: 6px;
   padding: 15px;
  // border: 6px solid color($colors, nav-color, base);
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
   }
   
 
 } 

#container{
  margin-top: 2%;
  height: auto;
  width: 100%;
  padding: 5px;
  // border-radius: $border;
  color: white;
  text-align: center;
 // background: color($colors, primary, base);
 // border: 1px solid color($colors, primary, base);
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
 // overflow: hidden;
  h2{
    font-size: 1.0em;
    height: auto;
  }

  ion-icon{
    margin: 3px;
  }
}



#container_1{
margin-top: 2%;
  height: auto;
  width: 100%;
   padding: 5px;
   border-radius: $border;
  color: white;
  text-align: center;
  background: color($colors, primary, base);
  //border: 1px solid color($colors, primary, base);
 background-position: left;
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
 overflow: hidden;
 ion-icon{
  color: color($colors, nav-color, base); 
}
  h2{
    font-size: 1.0em;
    height: auto;
  }

  ion-icon{
    margin: 5px;
  }

  .profile-pic{
    width: 15%;
    height: 18%;
  }
}





ion-toggle{
  float: right;
  width: 100%;
  border: 2px solid color($colors, light, base);
  border-radius: 30px;
  background: color($colors, nav-color, base);
  padding: auto;
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
 margin-top: 4% !important;
 margin: 3%;
}

#mCont{
 // float: left;
  border-radius: $border;
  //margin-top: 7% !important;
  padding: 3px;
  font-size: 1em;
  background: color($colors, nav-color, base);
  box-shadow: 0px 0px 7px 0px  color($colors, nav-shadow, base);
  color: color($colors, primary, base);
}

  #header{
    height: auto;
    width: 100%;
    padding: 5px;
    border-radius: 0px;
    color: black;
    text-align: center;
    background: color($colors, light, base);
    //overflow: hidden;
   // border: 1px solid color($colors, nav-border-bottom, base);
  }

  #slopw{
    //border: 1px solid color($colors, nav-border-bottom, base);
    width: 100%;
    margin-left: -1%;
    overflow: auto !important;
    padding: 10px;
  }



  .topBar {
    height: 50px;
    width: 100%;
    margin-top: 5.5%; //change to 10%
    z-index: 3;
   // background: linear-gradient(rgba(95, 94, 94, 0.041), rgba(2, 92, 161, 0)38);
  
     ion-icon{
      padding: 5px;
     }
    .button-right{
      float: right;

    }
  
    // @media only screen and (min-width: 768px) {
    //   .button-right{
    //     float: right;
    //   }
    //   }

}
  
  

  #myBadge{
   
      height: 70%;
      font-size: 1.6em;
    
  }

  #map_layer{
    z-index: 13;
   // border-radius: 12px;
   animation-name: wiki;
   animation-duration: 1.2s;
    padding: 5px;
    background: color($colors, nav-color, base);
     overflow: auto !important;
    // margin-top: 20% !important;
    .button{
      margin-top: 3% !important;
      height: auto;
      width: 100%;
      border-radius: $border;
      text-align: center;
      margin: 5px;
      padding: 20px;
      ion-icon{
          color: color($colors, nav-color, base); 
        }
      box-shadow: 0px 4px 7px 0px  color($colors, nav-shadow, base);
    }

   

    .button_1{
      background: color($colors, nav-color, base); 
      margin-top: 2px;
      height: auto;
      width: 100%;
      border-radius: $border;
      text-align: center;
      .profile-pic{
        height: 70%;
      width: 43%;
      border: 1.6px solid color($colors, primary, base);
      }
      //background-position: left;
    }

    .button_2{
      background: #9d08e2;
      margin-top: 2px;
      height: auto;
      width: 100%;
      border-radius: $border;
      text-align: center;
      background-position: left;
    }

    // ion-icon{
    //   color: color($colors, nav-color, base); 
    // }
    

}

ion-footer{

#lower_items{
  height:auto;
  width: 100%;
  background: color($colors, nav-color, base);
  z-index: 15;
}

.buttons{
  margin-top: 10% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  margin-left: 80%;
  padding: auto !important;
  background: color($colors, primary, base);
  z-index: 300 !important;
  border: 0.7px solid color($colors, primary, base);
    color: white;
    font-size: 17px;
  
}
#rides{
  border-radius: 0px;
  border: 1px solid color($colors, nav-border-bottom, base);
}
}
  }

