<ion-header no-border>
    <ion-navbar color="nav-color">
        <ion-title>{{lp.translate()[0].d2}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon name="ios-log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="o-scroll" padding>

    <ion-list>
        <ion-item text-center *ngIf="ph.picture" (click)="choosePic()">
            <img class="profile-pic" [src]="ph.picture"/>
            <ion-icon name="ios-create"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list no-lines>
        <ion-item>
            <ion-label padding color='deep'>
                {{lp.translate()[0].l7}}
            </ion-label>
            <ion-select [(ngModel)]="language" (ionChange)="onSelectChange($event)">
                <ion-option  value="pr" >Portuguese</ion-option>
                <ion-option  value="en">English</ion-option>
                <ion-option  value="fr">French</ion-option>
                <ion-option  value="ar">Arabic</ion-option>
                <ion-option  value="kd">Kurdish</ion-option>
                <ion-option  value="rs">Russia</ion-option>
                <ion-option  value="az">azerbaijani</ion-option>
            </ion-select>
        </ion-item>

        <ion-item-divider>{{lp.translate()[0].i3}}</ion-item-divider>

        <ion-item (click)="updateName()">
            <ion-avatar item-start>
                <ion-icon name="ios-contact-outline"></ion-icon>
            </ion-avatar>
            <h2>{{lp.translate()[0].h2}}</h2>
            <p *ngIf="ph.name">{{ph.name}}</p>
            <p *ngIf="!ph.name && name">
                {{ph.name}}
            </p>
        </ion-item>


        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="ios-mail-outline"></ion-icon>
            </ion-avatar>
            <h2>{{lp.translate()[0].f10}}</h2>
            <p>{{ph.user?.email}}</p>
        </ion-item>

        <ion-item (click)="updateNumber()">
            <ion-avatar item-start>
                <ion-icon name="ios-call-outline"></ion-icon>
            </ion-avatar>
            <h2>{{lp.translate()[0].h1}}</h2>
            <p  *ngIf="ph.number">{{ph.number}}</p>
            <ion-col padding col-6 class="placeholder-profile" *ngIf="!ph.number">
                <span>
                    {{ph.number}}
                </span>
            </ion-col>
        </ion-item>

    </ion-list>

    <ion-list no-lines>

        <ion-item-divider>{{lp.translate()[0].i4}}</ion-item-divider>

        <ion-item (click)="updateBank()">
            <ion-avatar item-start>
                <ion-icon name="ios-podium-outline"></ion-icon>
            </ion-avatar>
            <h2>{{lp.translate()[0].i1}}</h2>
            <p *ngIf="ph.bank">{{ph.bank}}</p>
            <p class="placeholder-profile" *ngIf="!ph.bank">
                Cadastrar banco
            </p>
        </ion-item>

        <ion-item (click)="updateAccountNumber()">
            <ion-avatar item-start>
                <ion-icon name="ios-paper-outline"></ion-icon>
            </ion-avatar>
            <h2>{{lp.translate()[0].h10}}</h2>
            <p  *ngIf="ph.number">{{ph.accountNum}}</p>
            <p class="placeholder-profile" *ngIf="!ph.number">
                Cadastrar conta
            </p>
        </ion-item>

    </ion-list>

    <ion-list no-lines>

        <ion-item-divider>{{lp.translate()[0].i6}}</ion-item-divider>

        <ion-item (click)="updateCarModel()">
            <ion-avatar item-start>
                <ion-icon name="ios-car-outline"></ion-icon>
            </ion-avatar>

            <h2>{{lp.translate()[0].h6}}</h2>

            <p *ngIf="ph.carType">
                {{ph.carType}}
            </p>

            <p *ngIf="!ph.carType">
                Cadastrar veículo
            </p>
        </ion-item>

        <ion-item (click)="updateCaryear()">
            <ion-avatar item-start>
                <ion-icon name="ios-calendar-outline"></ion-icon>
            </ion-avatar>

            <h2>{{lp.translate()[0].h7}}</h2>

            <p *ngIf="ph.caryear">
                {{ph.caryear}}
            </p>

            <p *ngIf="!ph.caryear">
                Informar ano de fabricação
            </p>
        </ion-item>

        <ion-item (click)="updatePlate()">
            <ion-avatar item-start>
                <ion-icon name="ios-closed-captioning-outline"></ion-icon>
            </ion-avatar>

            <h2>{{lp.translate()[0].h8}}</h2>

            <p *ngIf="ph.plate">
                {{ph.plate}}
            </p>

            <p *ngIf="!ph.plate">
                Informar número da Placa
            </p>
        </ion-item>

        <ion-item (click)="updateSeat()">
            <ion-avatar item-start>
                <ion-icon ios="ios-people-outline"></ion-icon>
            </ion-avatar>

            <h2>{{lp.translate()[0].h9}}</h2>

            <p *ngIf="ph.seat">
                {{ph.seat}}
            </p>

            <p *ngIf="!ph.seat">
                Informar número de assentos
            </p>
        </ion-item>

        <ion-item>
            <ion-label padding color='deep'>
                {{lp.translate()[0].g7}}
            </ion-label>

            <ion-select [(ngModel)]="ph.carType" multiple="false" (ionChange)="onSelectChangeCar($event)">
                <ion-option value="5">Sedan Básico</ion-option>
                <ion-option value="6">Sedan Executivo</ion-option>
                <ion-option value="8">Sedan Blindado</ion-option>
                <ion-option value="7">Sedan de Luxo</ion-option>
                <ion-option value="1">Mini Van</ion-option>
                <ion-option value="14">Mini Van Blindado</ion-option>
                <ion-option value="12">Van 11 Lugares</ion-option>
                <ion-option value="2">Van 15 Lugares</ion-option>
                <ion-option value="9">Van 19 Lugares</ion-option>
            </ion-select>

        </ion-item>

    </ion-list>

</ion-content>
