<!--
  Generated template for the RatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="nav-color">
        <ion-title>{{lp.translate()[0].j4}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class='no-scroll' text-center padding>
    <ion-title>{{lp.translate()[0].j5}}</ion-title>
    <ion-item-divider></ion-item-divider>
    <rating [(ngModel)]="rate"
            readOnly="false"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"
            (ngModelChange)="onModelChange($event)"></rating>

    <div class='reviewspace'>
        <ion-title>{{lp.translate()[0].j6}}</ion-title>
        <form (ngSubmit)="logForm()">
            <ion-textarea #myInput id="myInput" rows="1" maxLength="500" [(ngModel)]="todo.description"
                          name="description"></ion-textarea>

            <button padding ion-button type="submit" block>{{lp.translate()[0].j7}}</button>
        </form>
    </div>
</ion-content>
    