// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$myUrl: '../assets/img/logo-bg.png';
$myUrl2: 'http://www.zenhoren.jp/Portals/0/images/for_residents/flow/img_flow01.jpg';
$myUrl3: 'https://thumbs.dreamstime.com/b/man-customer-care-service-support-icon-vector-flat-colored-pictogram-symbol-illustration-person-profile-human-avatar-call-98532247.jpg';
$myUrl4: 'http://www.cheatsheet.com/wp-content/uploads/2015/03/ILX-interior-e1427121268353.jpg';
$linear: linear-gradient(rgba(26, 226, 86, 0.678));
$border:  4px; 


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #313131,
  secondary:  rgb(255, 255, 255),
  danger:     #f53d3d,
  light:      #f7f7f7,
  dark:       #E2E2E2,
  doom:       #c5c5c5,
  nav-border-bottom: rgba(212, 212, 212, 0.93),
  nav-color: #ffffff,
  bar-color: #FFFFFF,
  deep: #686868,
  mColor: rgb(8, 2, 6),
  green: #3EAB0F,
  gery: rgb(36, 140, 210),
  toper:    rgb(236, 236, 236),
  doper:    rgb(245, 245, 245),
  lighters: rgb(253, 253, 253),
  gold: gold,
  nav-shadow: rgba(3, 3, 3, 0.171),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
