@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-regular.woff2') format('woff2'), url('../assets/fonts/roboto-regular.woff') format('woff'), url('../assets/fonts/roboto-regular.ttf') format('ttf');
  font-weight: bold;
  font-style: bold;
  font-size: 1.3em;
  color: color($colors, dark, base);
}

// .splash {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: 999;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: #ffffff;
// }

// .spinners {
//   width: 40px;
//   height: 40px;
//   background-color: rgb(46, 46, 46);

//   margin: 100px auto;
//   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
//   animation: sk-rotateplane 1.2s infinite ease-in-out;
// }

// @-webkit-keyframes sk-rotateplane {
//   0% { -webkit-transform: perspective(120px) }
//   50% { -webkit-transform: perspective(120px) rotateY(180deg) }
//   100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
// }

// @keyframes sk-rotateplane {
//   0% { 
//     transform: perspective(120px) rotateX(0deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
//   } 50% { 
//     transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
//     -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
//   } 100% { 
//     transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//     -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//   }
// }

ion-content {
  font-family: 'Humanst';
}

.whiteFlap {
  margin-bottom: 26px;
  height: 200px auto;
  background: white;
  padding: 15px;
  border-radius: $border;
  margin-top: 20px;
  border: 1px solid color($colors, nav-border-bottom, base);
}


.action {
  margin-bottom: 0px;
  overflow: auto !important;
  height: 100%;
  background: white;
  padding: 0px;
  width: 100%;
  // border-radius: $border;
  margin-top: 0% !important;
  //border: 1px solid color($colors, nav-border-bottom, base);
}

.overlay {
  // margin-bottom: 26px;
  //overflow: visible !important;
  height: auto;
  background: rgba(95, 95, 95, 0.37);
  padding: 10px;
  // border-radius: $border;
  // margin-top: 30% !important;
  // border: 1px solid color($colors, nav-border-bottom, base);
}

ion-menu {
  overflow: hidden !important;
}


ion-navbar {
  font-family: 'Humanst';
  margin-top: 0% !important;
  // border-bottom: 1px solid color($colors, nav-border-bottom, base);

}

.no-scroll .scroll-content {
  overflow: hidden;
  background: color($colors, secondary, base);

}

.yes-scroll {
  overflow: auto;
  background: color($colors, secondary, base);
}

.o-scroll {
  overflow: hidden;
}

.button {
  // box-shadow: none;
  // border-radius: 0px;
  height: 54px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.2em;

}


.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ion-input {
  font-size: 1.3em;
}

ion-searchbar {
  box-shadow: none;
  border-radius: $border;
}

ion-list {
  border-radius: $border;
}

ion-icon {
  color: color($colors, deep, base);
}

ion-item {
  width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
}

ion-spinner {
  color: color($colors, primary, base);
}

.main {
  background: color($colors, secondary, base);
  overflow: hidden !important;
  //border-bottom: 1.5px solid color($colors, nav-border-bottom, base);
  // margin-top: 6%;

  .top_bar {
    text-align: center;
    border-bottom: 1px solid color($colors, nav-border-bottom, base);
    padding: 0px 0 20px 0;
    background: color($colors, nav-color, base);

  }

  .profile-pic {
    width: 100px;
    height: 100px;
    border: 1px solid color($colors, light, base);
  }
}

#sidebarList {
  overflow: hidden !important;
}

.icon-menu {
  position: relative;
  float: left;
  text-align: center;
  border: 1px solid;
  padding: 5px 5px;
  border-radius: 50%;
}

ion-item-group{
  margin-bottom: 30px;
}