<ion-header no-border>
  <ion-navbar color="nav-color">
    <ion-title text-center>
        {{lp.translate()[0].l3}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngStyle]="{'margin-top': 30 + '%'}">
  <h3 text-center>Now Goto The Dashboard and Locate Your account under sidemenu select 'requests' and Accept it.</h3>
  </div>

  <button  class='button' [ngStyle]="{'margin-top': 30 + '%'}" color="primary" ion-button block (click)="goto()">
    Goto Web Admin login with 'demo'
</button>

<ion-label>Open the web admin on a bigger screen to view properly.</ion-label>

  <button  class='button' [ngStyle]="{'margin-top': 30 + '%'}" color="primary" ion-button block (click)="close()">
      {{lp.translate()[0].i9}}
</button>
</ion-content>
